.technology-image {
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 40px;
    transition: transform 1s, box-shadow 1.5s;
  }

  .project-intro{
    font-size: 1.25rem;
  }

  .note {
    font-size: 0.8rem;
  }