---
import ProjectTimeline from "../ProjectTimeline";
---

<div id="projects" class="project-container container-fluid py-5">
  <div class="row h-100">

    <div class="col-12 col-lg-7 col-xl-8">
      
    </div>
    <div class="col-lg-5 col-xl-4 h-100 d-none d-lg-block">
      <ProjectTimeline client:visible/>
    </div>
  </div>
</div>

<style>
  .project-container {
    height: 100vh;
  }
</style>
