---
import Title from "../Title.astro";
import Underline from "../Underline.astro";
---

<div class="d-flex justify-content-between py-3 mx-4">
  <Title title="THOMAS VAN DER MOLEN" description="SOFTWARE DEVELOPER" />
  <div>
    <!-- <Underline initialWidth="0%">
      <i class="bi bi-brightness-high-fill pointer icon"></i>
    </Underline> -->
  </div>
</div>

<style>
  .icon {
    font-size: 2rem;
  }
</style>
