---
import Title from "../Title.astro";
import Underline from "../Underline.astro";
---

<div class="d-flex justify-content-between py-3">
        <Title title="THOMAS VAN DER MOLEN" description="SOFTWARE DEVELOPER"/>
        <Underline initialWidth="0%">
            <h1 style="cursor: pointer;">?</h1>
        </Underline>
</div>
