---
import Layout from '../layouts/Layout.astro';
import TopBar from '../components/Views/TopBar.astro';
import Statistics from '../components/Views/Statistics.astro';
---

<Layout title="Thomas van der Molen">
	<main class="container-fluid px-4">
		<TopBar />
		<br />
		<Statistics />
	</main>
</Layout>