---
interface Props {
  number: number;
}

const { number } = Astro.props;
function getOrdinal(value: number):string {
    return ["st", "nd", "rd"][((((value + 90) % 100) - 10) % 10) - 1] || "th";
  }
const ordinal = getOrdinal(number);
---
<span>{number}<sup>{ordinal}</sup></span>
