---
interface Props {
  value: number;
  color: string;
}

const { value, color } = Astro.props;
const rangePercentage = value + "%";
---

<div class="progress-bar">
  <div class="progress"></div>
</div>

<style define:vars={{ rangePercentage, color }}>
  .progress-bar {
    height: 10px;
    width: 100%;
    background-color: lightgrey;
    border-radius: 5px;
  }
  .progress-bar .progress {
    height: 100%;
    /* width: 0; */
    /* animation: progressAnimation 3s forwards; */
    width: var(--rangePercentage);
    background-color: var(--color);
    border-radius: 5px 0px 0px 5px;
  }
  @keyframes progressAnimation {
    to {
      width: var(--rangePercentage); /* Set the final width here (in this case, 100px) */
    }
  }
</style>
