---
import Underline from './Underline.astro';
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<div class="title-container">
    <Underline initialWidth="90%">
        <h1 class="mb-0"><a href="#about-me">{title}</a></h1>
    </Underline>
    <h2 class="text-sm-end title-description">{description}</h2>
</div>

<style>
    .title-container{
        width: max-content;
    }
    .title-description{
        font-size: 1.75rem;
    }
    @media only screen and (min-width: 400px)
    {
        .title-container .title-description{
            transform: translateX(15%);
        }
    }
</style>
