---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<div class="title-container">
    <h1 class="mb-0">{title}</h1>
    <h3 class="text-sm-end title-description">{description}</h3>
</div>

<style>
    h1 {
        display: inline;
        background-image: linear-gradient(
            to right,
            var(--text-color),
            var(--text-color)
        );
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 90% 2px;
    }
    .title-container{
        width: max-content;
    }
    @media only screen and (min-width: 400px)
    {
        .title-container .title-description{
            transform: translateX(15%);
        }
    }
</style>
