---
import "./Underline.css"
interface Props {
    initialWidth?: string;
    class?: string;
}

const { initialWidth = "50%", class:className } = Astro.props;
---

<div class:list={["underline-container", className]} style={`background-size: ${initialWidth} 2px;`}>
    <slot/>
</div>
