---
import ProgressBar from "../ProgressBar.astro";

interface Props {
  color: string;
}

const start = new Date(import.meta.env.SECRET_START_EDUCATION);
const end = new Date(import.meta.env.SECRET_GRADUATION);

// Calculate the total milisecond range of start and end
const range = end.getTime() - start.getTime();
// Calculate the current progress in miliseconds
const progress = new Date().getTime() - start.getTime();
// Convert current progress to %
const graduationPercentage = (progress / range) * 100;

// Calculate days left
// 1 day = 8.64e+7 ms
const daysLeft = Math.round((range - progress) / 8.64e7);

const { color } = Astro.props;
---

<div class="d-flex align-items-center">
  <b class="me-2">{daysLeft}</b><ProgressBar
    color={color}
    value={graduationPercentage}
  />
</div>
