---
import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
import "../../node_modules/react-loading-skeleton/dist/skeleton.css"
import { Tooltips } from 'astro-tooltips';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Thomas van der Molen Portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <Tooltips interactive={false}/>
  </head>
  <body>
    <slot />
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script> -->
  </body>
</html>
<style is:global>
  :root {
    --background: #252525;
    --about-me-background: #333539;
    --text-color: white;
    --card-color: #363232;
    --card-shadow: #0000001f;
    --link-color: aliceblue;
  }
  html {
    font-family: system-ui, sans-serif;
    background: var(--background);
  }
  body {
    color: var(--text-color);
    background-color: var(--background);
  }
  .pointer {
    cursor: pointer;
  }
  a{
    text-decoration: none;
    color: var(--text-color);
  }
  a:hover {
    color: var(--link-color);
  }
  .card-shadow{
    box-shadow: 7px 7px var(--card-shadow);
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #dedede #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--card-color);
    border-radius: 12px;
  }
</style>
